:root {
    --primary: #f86d72;
    --pink: #fbadaf;
    --purple: #e6afcd;
    --lightblue: #96d5e2;
    --bg-header: #fff;
    --fg-header: #444;
    --fs-header: 1.1em;
    --bg-categories: #EAEAEA;
    --tr-categories: .2s all;
}
body {
    font-family: Lato, sans-serif;
    background-color: rgb(31, 41, 55);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.5;
}
button {
    border: none;
}
.svg-icon {
    height: var(--fs-header);
    fill: currentcolor;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1140px;
    }
}
.btn {
    color: var(--fg-header);
    padding: 1em 2em;
    text-transform: capitalize;
    font-size: .75em;
    font-weight: 700;
    background: #fff;
    display: inline-block;
    box-shadow: 0 13px 29.4px 0.6px rgba(43,43,43,.25);
    outline: 0;
    cursor: pointer;
}
.btn-primary:focus,
.btn-primary:hover {
    background-color: var(--primary);
    color: white;
}

.bg-pink {
    background-color: var(--pink);
}
.bg-purple {
    background-color: var(--purple);
}
.bg-lightblue {
    background-color: var(--lightblue);
}

